.payment {
    color: #09080D;
    padding: 74px 0 120px;
  
    .payment-wrapper {
      display: flex;
      gap: 79px;
      align-items: flex-start;
    }
  
    .payment-title {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.16px;
      margin-bottom: 48px;
    }
  
    .payment-detales {
      max-width: 722px;
      width: 100%;
    }
  
    .payment-subtitle {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.1px;
    }
  
    .payment-method {
      display: flex;
      align-items: center;
      padding: 24px 16px;
      border-radius: 32px;
      border: 1px solid #E9EBED;
      background: #FFFFFF;
      margin-top: 24px;
  
      input {
        width: 0;
        height: 0;
        position: absolute;
      }
  
      input:checked ~ label::before {
        background: url(../../assets/img/checked-payment.svg) no-repeat center;
      }
  
      label {
        width: 100%;
        
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #E9EBED;
        }
      }
  
      .paypal {
        background: url(../../assets/img/paypal.svg) no-repeat left 60px center;
      }
  
      .pay {
        background: url(../../assets/img/applepay.svg) no-repeat left 60px center;
      }
    }
  
    .payment-text {
      display: block;
      color: #8E8E93;
      letter-spacing: 0.08px;
      margin: 32px 0;
    }
  
    .payment-field {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 24px;
  
      label {
        color: #1C1C1E;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.07px;
      }
  
      input {
        max-width: 721px;
        width: 100%;
        padding: 14px 16px;
        border-radius: 24px;
        border: 1px solid #E9EBED;
        background: #FFFFFF;
      }
    }
  
    .payment-code {
      display: flex;
      gap: 25px;
      margin-bottom: 24px;
  
      .code-info {
        width: 224px;
        display: flex;
        flex-direction: column;
        gap: 8px;
  
        input {
          padding: 14px 16px;
          border-radius: 24px;
          border: 1px solid #E9EBED;
          background: #FFFFFF;
        }
      }
  
      label {
        color: #1C1C1E;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.07px;
      }
    }
  
    .save-card {
      margin-bottom: 48px;
  
      label {
        display: flex;
        align-items: center;
        width: 115px;
        gap: 12px;
  
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #E9EBED;
          background: white;
        }
      }
  
      input {
        width: 0;
        height: 0;
        position: absolute;
      }
  
      input:checked ~ label::before {
        background: url(../../assets/img/checked-payment.svg) no-repeat center;
      }
    }
  
    .payment-btn {
      color: #1C1C1E;
      letter-spacing: 0.08px;
      border-radius: 24px;
      background: #BCFF5E;
      padding: 16px 0;
      width: 204px;
    }
  
    .payment-reserve {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-top: 56px;
      padding: 24px;
      border-radius: 20px;
      background: #FFFFFF;
    }
  
    .permonth-number {
      color: #000000;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.2px;
    }
  
    .per-month-text {
      color: #8E8E93;
      font-family: "GeneralSans-Regular";
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.07px;
    }
  
    .payment-serve-title {
      display: block;
      color: #1C1C1E;
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0.09px;
      margin-bottom: 8px;
    }
  
    .payment-serve-text {
      color: #636366;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.08px;
    }
  
    .features-list-subtitle {
      display: block;
      color: #1C1C1E;
      letter-spacing: 0.08px;
    }
  
    .features-item {
      background: url(../../assets/img/checkes.svg) no-repeat left center;
      padding-left: 40px;
      color: #1C1C1E;
      line-height: 34px;
      letter-spacing: 0.08px;
      margin-top: 16px;
    }
  
    .select-title {
      display: block;
      color: #1C1C1E;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.07px;
      margin-bottom: 8px;
    }
  
    .select {
      width: 350px;
  
      option {
        width: 350px;
      }
  
      .select2-container .select2-selection--single {
        height: 52px;
  
        .select2-selection__rendered {
          padding: 14px 36px 14px 16px;
        }
      }
  
      .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 16px;
  
        .select2-selection__rendered {
          color: #AEAEB2;
          font-family: "GeneralSans-Medium";
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          letter-spacing: 0.08px;
        }
  
        .select2-selection__arrow b {
          border-color: #292D32 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
          border-style: solid;
          border-width: 10px 10px 0 10px;
          height: 0;
          left: auto;
          margin-left: -16px;
          margin-top: 8px;
          position: absolute;
          top: 50%;
          width: 0;
        }
      }
    }
  }
  