.programs {
    padding: 74px 0 120px;

    .hero-program {
        justify-content: center;
        box-shadow: none;
        background: transparent;
      }

      &-title {
        max-width: 426px;
        width: 100%;
        margin: 0 auto 48px;
      }
  }
 
  